/*Cuerpo - Foto Fondo*/
body{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*Cabecera - Navegacion*/
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/*Elementos de la navegacion*/
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    color: white;
    display: block;
    padding: 1px;
    text-decoration: none;
}

nav ul li{
    float: left;
    width: auto;
    padding: 5px;
}

nav ul{
    overflow: hidden;
}

/*Imagen Cabecera*/
.logo{
    height: 80px;
    width: auto;
}

/*Venta y Alquiler de Vehiculos*/
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 50px;
    bottom: 80px;
    left: 10px;
}

/*Exclusivo de Lujo*/
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 50px;
    bottom: 0px;
    left: 10px;
}

/*Articulos Vehiculos*/

#divArticulos{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.articulo{
    border: 3px solid black;
    width: auto;
    background-color: grey;
    margin: auto;
    height: auto;
}

.texto, .precio{
    text-transform: capitalize;
    padding-left: 10px;
    font-size: 17px;
    padding-right: 25px;
    line-height: 30px;
    color: white;
}

.iconos{
    margin-left: 10px;
    margin-right: 10px;
}

article ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

article ul li a{
    display: block;
    padding: 1px;
    text-decoration: none;
}

article ul li{
    float: left;
    width: auto;
    padding: 5px;
}

article ul{
    overflow: hidden;
}